.footer
  background-color: $footer
  height: 617px
.footers
  &-logo
    padding-top: 90px
    &__text
     padding-left: 15px
     font-style: normal
     font-weight: 400
     font-size: 10px
     line-height: 12px
     letter-spacing: 1px
     text-transform: uppercase
     color: $gray
.line
  position: absolute
  max-width: 1200px
  margin: auto
  height: 1px
  left: 0%
  right: 0%
  border: 1px solid #4D4D4D
  margin-top: 60px
  
